<template>
  <div
    class="relative flex items-center overflow-hidden section"
    :class="{
      'text-white': hoverActive,
      [animationStyling]: true,
    }"
  >
    <div class="w-4/5 ml-36">
      <h1
        class="text-2xl font-bold uppercase font-jost"
        :class="{
          'text-gray-300': hoverActive,
          'text-gray-700': !hoverActive,
          [animationStyling]: true,
        }"
      >
        What's cooking in the kitchen?
      </h1>
      <h2 class="mt-16 leading-none font-cormorant" style="font-size: 5.5rem">
        <div>
          An
          <span @mouseenter="mouseEnter(0)" @mouseleave="mouseLeave">
            automation platform
          </span>
          to solve tomorrows challenges.
        </div>
        <div class="mt-4">
          An
          <span @mouseenter="mouseEnter(1)" @mouseleave="mouseLeave">
            orchestration tool
          </span>
          to make the devlife easier.
        </div>
      </h2>
    </div>
    <div ref="scene" class="absolute inset-0 overflow-hidden -z-10">
      <div
        class="absolute inset-0 transition-all duration-1000 ease-in-out transform"
        :class="{
          'opacity-100 scale-100': hoverActive,
          'opacity-0 scale-125 ': !hoverActive,
          [animationStyling]: true,
        }"
      >
        <div class="absolute z-10 w-screen h-screen bg-black opacity-50"></div>
        <img
          v-show="imageIndex === 0"
          ref="optic-fiber"
          src="https://source.unsplash.com/FewHpO4VC9Y/1280x720"
          alt="optic fiber"
          class="object-top"
          :class="imageStyling"
        />
        <img
          v-show="imageIndex === 1"
          ref="pcb"
          src="https://source.unsplash.com/bN5XdU-bap4/1280x720"
          alt="pcb"
          class="object-center"
          :class="imageStyling"
        />
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      hoverActive: false,
      animationStyling: 'transition-all duration-1000 ease-in-out',
      imageIndex: 0,
      imageStyling: 'absolute object-cover  w-screen h-screen ',
    }
  },
  mounted() {
    this.$gsap.registerPlugin(this.$ScrollTrigger)
    const scene = this.$refs.scene as HTMLElement
    this.$gsap.to(scene, {
      scrollTrigger: {
        trigger: scene,
        start: 'top bottom',
        end: 'top top',
        snap: 1,
      },
    })
  },
  methods: {
    mouseEnter(key: number) {
      this.imageIndex = key
      this.hoverActive = true
    },
    mouseLeave() {
      this.hoverActive = false
    },
  },
})
</script>

<style scoped>
span {
  @apply text-blue-700;
}
</style>
