<template>
  <div
    id="projects-section"
    ref="currentPage"
    class="relative z-10 flex items-center justify-center w-full h-screen border-b-2 child"
  >
    <div class="w-full bg-white font-jost" style="height: 100vh">
      <div class="px-12 py-8 text-5xl shadow-lg font-majorMono">
        My Projects
      </div>
      <div
        class="w-full overflow-x-hidden overflow-y-auto divide-y-2 scroll-height"
      >
        <projects-section-card
          v-for="(i, index) in stories"
          :key="i.uuid"
          :index="index"
          :title="i.content.title"
          :domain="i.content.domain"
          :summary="i.content.summary"
          :description="i.content.description"
          :image-src="i.content.background_image.url"
          :image-alt="i.content.background_image_alt"
          :view-project-url="i.content.project_url.url"
        />
        <div
          v-if="readMore"
          class="flex items-center justify-center h-64 border-b-2"
        >
          <div
            v-if="!loading"
            class="flex items-center justify-center text-2xl transition duration-300 ease-in-out cursor-pointer group transform-gpu"
            :class="readMoreButtonStyle"
            @click="fetchMore"
          >
            Read more
            <svg
              class="h-6 ml-2 transition-transform duration-500 ease-in-out transform group-hover:translate-x-2"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </div>
          <div v-else>
            <asset-loader :class="readMoreButtonStyle" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import validate from 'validate.js'

const baseUrl = 'https://api.storyblok.com/v1/cdn'
const token = 'QcidRr0B5ytSNhz7RCptbAtt'

function createValidator(type: 'string' | 'url' = 'string') {
  if (type === 'string') {
    return {
      presence: true,
      type: 'string',
    }
  }
  if (type === 'url') {
    return {
      presence: true,
      url: true,
    }
  }
}

const constraints = {
  uuid: createValidator(),
  'content.title': createValidator(),
  'content.domain': createValidator(),
  'content.summary': createValidator(),
  'content.description': createValidator(),
  // 'content.background_image_alt': createValidator(),
  // 'content.background_image.url': createValidator('url'),
  // 'content.project_url.url': createValidator('url'),
}
function validationLogic(data: object) {
  const validation = validate(data, constraints)
  if (validation) {
    throw validation
  }
  return data
}

export default Vue.extend({
  data(): {
    stories: object[]
    cv: number
    readMore: boolean
    perPage: number
    pageNumber: number
    loading: boolean
    readMoreButtonStyle: string
  } {
    return {
      stories: [],
      cv: 0,
      readMore: true,
      perPage: 4,
      pageNumber: 1,
      loading: false,
      readMoreButtonStyle: 'h-12 w-60 text-black border border-gray-500 ',
    }
  },
  async mounted() {
    await this.getVersion()
    this.fetchData()
    this.scrollLock()
  },
  methods: {
    scrollLock() {
      const page = this.$refs.currentPage as HTMLElement

      this.$gsap.registerPlugin(this.$ScrollTrigger)
      this.$gsap.to(page, {
        scrollTrigger: {
          trigger: page,
          start: 'bottom bottom',
          end: 'bottom top',
          snap: 1,
        },
      })
    },
    async getVersion() {
      const res = await this.$axios.$get(`${baseUrl}/spaces/me`, {
        params: {
          token,
        },
      })
      this.cv = res?.space?.version
    },
    async fetchData() {
      const res = await this.$axios.get(`${baseUrl}/stories`, {
        params: {
          version: 'published',
          token,
          cv: this.cv,
          page: this.pageNumber,
          per_page: this.perPage,
        },
      })

      const rawData = res?.data?.stories
      const total: number = parseInt(res?.headers?.total)

      if (!validate.isArray(rawData)) {
        throw new TypeError('Response is not an array')
      }
      for (const i of rawData) {
        validationLogic(i)
      }
      this.stories = [...this.stories, ...rawData]
      this.readMore = total > this.stories.length
    },
    fetchMore() {
      this.loading = true
      this.pageNumber = this.pageNumber + 1
      this.fetchData()
      this.loading = false
    },
  },
})
</script>

<style scoped>
.scroll-height {
  height: calc(100vh - 112px);
}
</style>
