<template>
  <div
    class="relative"
    :class="cardHeight"
    @mouseenter="mouseEnter"
    @mouseleave="mouseLeave"
  >
    <div class="absolute top-0 z-10 w-full h-full">
      <transition-group name="fade">
        <div
          v-show="!hoverActive"
          key="summary"
          class="grid h-full grid-cols-2"
        >
          <div class="flex items-center justify-center">
            <div>
              <div
                ref="domain"
                class="mb-4 overflow-hidden text-lg text-gray-500 uppercase"
              >
                {{ domain }}
              </div>
              <h3
                ref="title"
                class="overflow-hidden text-5xl leading-normal font-jost"
              >
                {{ title }}
              </h3>
            </div>
          </div>
          <div class="flex items-center justify-center">
            <h4
              ref="summary"
              class="w-2/3 overflow-hidden text-4xl leading-normal font-jost"
            >
              {{ summary }}
            </h4>
          </div>
        </div>
        <div
          v-show="hoverActive"
          key="details"
          class="absolute top-0 z-10 flex flex-col justify-center w-full h-full px-32 py-16 text-white"
        >
          <div
            class="flex items-baseline justify-between"
            :class="{
              'mb-8': description,
            }"
          >
            <h3 v-if="title" class="mr-6 text-5xl">{{ title }}</h3>
            <h4 v-if="domain" class="text-xl uppercase">{{ domain }}</h4>
          </div>
          <p
            v-if="description"
            class="flex-grow my-4 overflow-hidden leading-relaxed"
          >
            {{ description }}
          </p>
          <div v-if="viewProjectUrl" class="flex justify-end w-full">
            <a
              :href="viewProjectUrl"
              :alt="`Read more about ${title}`"
              class="inline-flex items-center px-4 py-1 text-lg transition duration-500 ease-in-out border-b-2 hover:bg-white hover:text-blue-800 group"
              >View project
              <svg
                class="h-6 ml-2 transition-transform duration-500 ease-in-out transform group-hover:translate-x-2"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 8l4 4m0 0l-4 4m4-4H3"
                />
              </svg>
            </a>
          </div>
        </div>
      </transition-group>
    </div>
    <div
      class="absolute top-0 w-full overflow-hidden transition duration-1000 ease-in-out clip-outside"
      :class="{
        [cardHeight]: true,
        'opacity-0 ': !hoverActive,
        'opacity-100 ': hoverActive,
      }"
    >
      <div
        class="absolute top-0 w-full h-full bg-black opacity-50"
        style="z-index: 1"
      ></div>
      <img
        width="100%"
        height="384px"
        class="object-cover object-center transition duration-1000 ease-in-out transform-gpu -z-10"
        :class="{
          'scale-125': !hoverActive,
          'scale-100 ': hoverActive,
        }"
        :alt="imageAlt || 'background image'"
        :src="imageSrc || defaultImage"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { string, number } from 'vue-types'
import { getChildrens } from '@/core'

const randomImageUrl = 'https://source.unsplash.com/user/lucamicheli/1900x400'

export default Vue.extend({
  props: {
    index: number(),
    title: string(),
    domain: string(),
    summary: string(),
    description: string(),
    imageSrc: string(),
    imageAlt: string(),
    viewProjectUrl: string().def(''),
  },
  data() {
    return {
      hoverActive: false,
      cardHeight: 'h-96',
      defaultImage: randomImageUrl,
    }
  },
  mounted() {
    this.animate()
  },
  methods: {
    mouseEnter() {
      this.hoverActive = true
    },
    mouseLeave() {
      this.hoverActive = false
    },
    animate() {
      const summary = this.$refs.summary as HTMLElement
      const title = this.$refs.title as HTMLElement
      const domain = this.$refs.domain as HTMLElement

      const summaryChildrens = getChildrens(summary)
      const titleChildrens = getChildrens(title)
      const domainChildrens = getChildrens(domain)

      const duration = 1
      const timeOffset = 1.5

      const action = this.$gsap.timeline()

      const allChildrens = [
        ...Array.from(domainChildrens),
        ...Array.from(titleChildrens),
        ...Array.from(summaryChildrens),
      ]

      action.from(allChildrens, {
        y: -200,
        stagger: 0.1,
        duration,
        delay: (this.index - 1) * timeOffset,
      })

      action.pause(0)

      this.$gsap.registerPlugin(this.$ScrollTrigger)

      this.$ScrollTrigger.create({
        trigger: '#projects-section',
        start: 'top bottom',
        end: 'top top',
        onEnter: () => {
          action.restart()
        },
      })

      this.$ScrollTrigger.create({
        trigger: '#projects-section',
        start: 'top bottom',
        end: 'top top',
        // markers: true,
        onLeaveBack: () => {
          action.seek(0)
        },
      })
    },
  },
})
</script>

<style scoped>
.clip-outside {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
</style>
