<template>
  <div
    id="end-section"
    ref="currentPage"
    class="relative z-10 w-screen h-screen"
  >
    <div ref="content" class="relative z-20 h-full pr-32 text-white">
      <h3 class="font-mono text-3xl lowercase">Created by</h3>
      <h1 class="uppercase break-words font-majorMono text-9xl">
        Justine Kizhakkinedath
      </h1>
      <div
        class="absolute left-0 flex justify-between w-full font-mono text-2xl bottom-16 pr-80"
      >
        Copyright © 2021 Justine Kizhakkinedath
        <span class="space-x-4">
          <a
            href="https://facebook.com/alka1e"
            alt="facebook"
            target="_blank"
            rel="noopener"
          >
            <facebook-icon :class="iconStyling" />
          </a>
          <a
            href="https://instagram.com/alka1e"
            alt="instagram"
            target="_blank"
            rel="noopener"
          >
            <insta-icon :class="iconStyling" />
          </a>
          <a
            href="https://twitter.com/alka1e"
            alt="twitter"
            target="_blank"
            rel="noopener"
          >
            <twitter-icon :class="iconStyling" class="text-blue-500" />
          </a>
        </span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      iconStyling:
        'h-8 transition duration-300 ease-in-out transform hover:scale-125 cursor-pointer inline-block',
    }
  },
  mounted() {
    this.animate()
  },
  methods: {
    animate() {
      const currentPage = this.$refs.currentPage as HTMLElement
      const content = this.$refs.content as HTMLElement

      this.$gsap.registerPlugin(this.$ScrollTrigger)

      this.$gsap.from(content, {
        opacity: 0,
        scrollTrigger: {
          trigger: currentPage,
          start: 'top 25%',
          end: 'top top',
          scrub: true,
        },
      })

      this.$gsap.to(content, {
        scrollTrigger: {
          trigger: currentPage,
          start: 'top bottom',
          end: 'top top',
          snap: 1,
        },
      })
    },
  },
})
</script>
