<template>
  <div id="workplay" class="relative z-10 w-screen h-screen text-white">
    <div
      class="relative z-20 flex flex-col justify-center w-screen h-screen text-white"
    >
      <div
        class="absolute inset-0 z-10 transition duration-1000 ease-in-out bg-black pointer-events-none"
        :class="{
          'opacity-50': overlayActive,
          'opacity-0': !overlayActive,
        }"
      ></div>
      <h1
        id="heading-container"
        class="flex flex-col justify-center w-screen pl-16 mx-32 font-serif text-3xl"
        style="height: 160px"
      >
        <span
          id="work-heading"
          class="block leading-none origin-bottom-left font-ultra"
        >
          Work Hard
        </span>
        <span
          id="play-heading"
          class="block leading-none origin-bottom-left font-ocean-rush"
          >Play Hard</span
        >
      </h1>
      <div id="workplay-content" style="width: 200vw" class="z-20 flex">
        <div
          class="grid w-screen grid-cols-2 mx-32 mt-16 text-5xl font-majorMono"
        >
          <h2
            v-for="i in skills"
            :key="i"
            class="flex items-center px-16 py-8 transition duration-1000 ease-in-out border border-white border-opacity-0 hover:border-opacity-100"
          >
            {{ i }}
          </h2>
        </div>

        <my-skills-video-button
          :cards="games"
          @toggle-overlay="toggleOverlay"
        />
      </div>
    </div>
    <div
      id="workplaybg"
      class="absolute top-0 w-screen h-full overflow-hidden bg-black -z-10"
    >
      <div class="relative z-10 w-full h-full bg-black opacity-50"></div>
      <img
        id="work"
        src="https://source.unsplash.com/DJ7bWa-Gwks/1280x720"
        alt="work"
        class="absolute top-0 object-cover w-screen h-screen -z-10"
      />
      <img
        id="play"
        src="https://source.unsplash.com/I9j8Rk-JYFM/1280x720"
        alt="play"
        class="absolute top-0 object-cover w-screen h-screen"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

interface Card {
  title: string
  video: string
}

const games: Card[] = [
  {
    title: 'Apex Legends',
    video:
      'https://res.cloudinary.com/justinekizhak/video/upload/v1612536714/apex_online-video-cutter.com_uzgkis.mp4',
  },
  {
    title: 'Overwatch',
    video:
      'https://res.cloudinary.com/justinekizhak/video/upload/v1612441036/overwatch_dyzwvk.mp4',
  },
  {
    title: 'Valorant',
    video:
      'https://res.cloudinary.com/justinekizhak/video/upload/v1612441098/valorant_afxtlx.mp4',
  },
  {
    title: 'CSGO',
    video:
      'https://res.cloudinary.com/justinekizhak/video/upload/v1612441043/csgo_pjtt3a.mp4',
  },
]

export default Vue.extend({
  data() {
    return {
      work: true,
      skills: [
        'Full Stack Engineer',
        'Music Producer',
        'Video Editor',
        'Motion Graphics Artist',
      ],
      games,
      overlayActive: false,
    }
  },
  mounted() {
    this.animate()
  },
  methods: {
    toggleOverlay(value: boolean) {
      this.overlayActive = value
    },
    animate() {
      this.$gsap.registerPlugin(this.$ScrollTrigger)

      const scrollTrigger = {
        trigger: '#workplay',
        start: 'bottom bottom',
        end: 'bottom top',
        pin: '#workplay',
        scrub: true,
      }

      this.$gsap.to('#workplay-content', {
        xPercent: -50,
        scrollTrigger,
      })

      const tl = this.$gsap.timeline({
        scrollTrigger,
      })

      tl.to('#work', {
        opacity: 0.3,
        scale: 1.5,
      })

      tl.from('#play', {
        opacity: 0,
        scale: 1.5,
      })

      {
        const scrollTrigger = {
          trigger: '#workplay',
          start: 'bottom bottom',
          end: 'bottom top',
          pin: '#workplay',
          pinSpacing: false,
          scrub: true,
        }

        this.$gsap.from('#work-heading', {
          fontSize: '6rem',
          scrollTrigger,
        })

        this.$gsap.to('#play-heading', {
          fontSize: '8rem',
          scrollTrigger,
        })
      }

      this.$gsap.to('#workplay', {
        scrollTrigger: {
          trigger: '#workplay',
          start: 'bottom bottom',
          end: 'bottom top',
          scrub: true,
          snap: 1,
        },
      })
    },
  },
})
</script>
