<template>
  <div
    class="grid w-screen grid-cols-2 mx-32 mt-16 text-5xl font-majorMono gap-x-16 gap-y-4"
  >
    <h2
      v-for="(i, index) in cards"
      :key="i.title"
      class="relative flex items-center px-16 py-8"
      @mouseenter="mouseEnter(index)"
      @mouseleave="mouseLeave(index)"
    >
      <span
        class="transition duration-1000 ease-in-out"
        :class="{
          'opacity-50': overlayActive,
        }"
      >
        {{ i.title }}
      </span>
      <video
        :ref="`video-${index}`"
        preload="metadata"
        loop
        muted
        controls
        class="absolute inset-0 z-30 object-cover w-full h-full transition-all duration-1000 ease-in-out transform"
        :class="{
          'scale-125 opacity-100': hoverActive[index],
          'scale-100 opacity-0': !hoverActive[index],
        }"
        :src="i.video"
        :poster="getUrlToVideo(i.video)"
      ></video>
    </h2>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { array } from 'vue-types'

interface Card {
  title: string
  video: string
}

export default Vue.extend({
  props: {
    cards: array<Card>(),
  },
  data(): {
    hoverActive: boolean[]
    overlayActive: boolean
  } {
    return {
      hoverActive: [],
      overlayActive: false,
    }
  },
  methods: {
    getUrlToVideo(url: string) {
      return url.substr(0, url.lastIndexOf('.')) + '.jpg'
    },
    mouseEnter(index: number) {
      const videoRef = `video-${index}`
      const videoArray = this.$refs[videoRef] as HTMLVideoElement[]
      const el = videoArray[0]
      el?.play()
      this.hoverActive[index] = true
      this.hoverActive = [...this.hoverActive]
      this.$emit('toggle-overlay', true)
      this.overlayActive = true
    },
    mouseLeave(index: number) {
      const videoRef = `video-${index}`
      const videoArray = this.$refs[videoRef] as HTMLVideoElement[]
      const el = videoArray[0]
      el?.pause()
      el.currentTime = 0
      this.hoverActive[index] = false
      this.hoverActive = [...this.hoverActive]
      this.$emit('toggle-overlay', false)
      this.overlayActive = false
    },
  },
})
</script>
