<template>
  <div
    ref="currentPage"
    class="absolute z-10 flex items-center justify-center w-full h-screen text-white"
  >
    <div ref="content" class="w-2/3 my-auto">
      <h1 class="font-mono uppercase" style="font-size: 1.25rem">
        <span ref="content1" class="block overflow-hidden">
          Hi there, I'm Justine.
        </span>
        <span ref="content2" class="block overflow-hidden"> I create </span>
      </h1>
      <h2
        ref="content3"
        class="overflow-hidden font-majorMono"
        style="font-size: 6rem"
      >
        AWESOME DIGITAL EXPERIENCE
      </h2>
    </div>
    <div
      ref="skills"
      class="absolute bottom-0 overflow-hidden leading-none capitalize transform -rotate-180 font-majorMono left-16 whitespace-nowrap"
      style="writing-mode: vertical-rl; font-size: 6px; width: 6px"
    >
      <span v-for="(skill, index) in skills" :key="index" class="uppercase"
        >{{ skill }} -
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { getChildrens } from '@/core'

const skills = [
  'Full Stack Engineer',
  'Motion Graphics Artist',
  'Video Editor',
  'Music Producer',
]

export default Vue.extend({
  data() {
    return {
      skills: [
        ...skills,
        ...skills,
        ...skills,
        ...skills,
        ...skills,
        ...skills,
      ],
    }
  },
  mounted() {
    this.$nextTick(function () {
      this.animate()
      this.animateText()
    })
  },
  methods: {
    animate() {
      this.$gsap.registerPlugin(this.$ScrollTrigger)

      const skills = this.$refs.skills as HTMLElement
      const currentPage = this.$refs.currentPage as HTMLElement
      const content = this.$refs.content as HTMLElement

      const scrollTrigger = {
        trigger: currentPage,
        start: 'bottom bottom',
        end: 'bottom top',
        pin: true,
        scrub: true,
        snap: 1,
      }

      this.$gsap.to(skills, {
        scrollTrigger,
      })

      this.$gsap.to(content, {
        opacity: 0,
        scrollTrigger,
      })
    },
    animateText() {
      const content1 = this.$refs.content1 as HTMLElement
      const content2 = this.$refs.content2 as HTMLElement
      const content3 = this.$refs.content3 as HTMLElement

      const allChildren = [
        ...Array.from(getChildrens(content1)),
        ...Array.from(getChildrens(content2)),
        ...Array.from(getChildrens(content3)),
      ]

      this.$gsap.from(allChildren, {
        y: -300,
        stagger: 0.1,
        duration: 1,
        delay: 1,
      })
    },
  },
})
</script>
