<template>
  <div class="fixed w-screen h-screen">
    <div class="absolute w-screen h-screen bg-black opacity-50"></div>
    <video
      id="bg-video"
      autoplay
      muted
      preload
      loop
      class="object-cover w-screen h-screen"
      :src="src"
      :poster="poster"
    ></video>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      src:
        'https://res.cloudinary.com/justinekizhak/video/upload/v1612441077/bg_a37rnc.mp4',
      poster:
        'https://res.cloudinary.com/justinekizhak/video/upload/v1612441077/bg_a37rnc.jpg',
    }
  },
})
</script>
