<template>
  <div
    class="fixed z-50 flex flex-col items-center justify-center h-screen right-16"
  >
    <div
      ref="scroll"
      style="width: 1px"
      class="transition duration-300 bg-gray-300 transform-gpu"
    >
      <div ref="bar" style="width: 1px" class="bg-blue-600"></div>
    </div>
    <div class="absolute z-50 flex right-12 bottom-16">
      <div class="mr-4" :class="arrowButtonStyling" @click="scrollUp">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 15l7-7 7 7"
          />
        </svg>
      </div>
      <div class="" :class="arrowButtonStyling" @click="scrollDown">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      arrowButtonStyling:
        'bg-white duration-300 ease-in-out h-8 hover:scale-125 transform-gpu transition w-8 cursor-pointer rounded-full text-gray-500 hover:text-blue-500 shadow-lg',
    }
  },
  mounted() {
    this.animate()
    // this.clickAndDrag()
  },
  methods: {
    animate() {
      const scroll = this.$refs.scroll as HTMLElement
      const el = this.$refs.bar as HTMLElement

      const heightOfScroll = 100
      scroll.style.height = `${heightOfScroll}vh`
      const numberOfDivisions =
        document.body.offsetHeight / window.innerHeight + 1
      const height = heightOfScroll / numberOfDivisions
      el.style.height = `${height}vh`

      window.addEventListener('scroll', function () {
        scroll.style.paddingTop = `${
          (window.scrollY / document.body.offsetHeight) * heightOfScroll
        }vh`
      })
    },
    scrollUp() {
      this.$gsap.registerPlugin(this.$ScrollToPlugin)
      const scrollTo = window.scrollY - window.innerHeight
      this.$gsap.to(window, {
        duration: 2,
        scrollTo,
      })
    },
    scrollDown() {
      this.$gsap.registerPlugin(this.$ScrollToPlugin)
      const scrollTo = window.scrollY + window.innerHeight
      this.$gsap.to(window, {
        duration: 2,
        scrollTo,
      })
    },
    // clickAndDrag() {
    //   // const slider = document.querySelector('.items');
    //   const slider = this.$refs.bar as HTMLElement
    //   let isDown = false
    //   let startY: number
    //   let scrollTop: number

    //   slider.addEventListener('mousedown', (e) => {
    //     isDown = true
    //     slider.classList.add('active')
    //     startY = e.pageY - slider.offsetTop
    //     scrollTop = slider.scrollTop
    //   })
    //   slider.addEventListener('mouseleave', () => {
    //     isDown = false
    //     // slider.classList.remove('active')
    //   })
    //   slider.addEventListener('mouseup', () => {
    //     isDown = false
    //     // slider.classList.remove('active')
    //   })
    //   slider.addEventListener('mousemove', (e) => {
    //     if (!isDown) return
    //     e.preventDefault()
    //     const x = e.pageY - slider.offsetTop
    //     const walk = (x - startY) * 3 //scroll-fast
    //     slider.scrollLeft = scrollTop - walk
    //     console.log(walk)
    //   })
    // },
  },
})
</script>
