@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.heading {
  writing-mode: vertical-rl;
  font-size: 18rem;
}

@font-face {
  font-family: OceanRush;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Ocean Rush DEMO.otf') format('opentype');
}

@layer components {
  .section {
    @apply h-screen w-screen relative z-10 text-black bg-white;
  }
}
