<template>
  <div
    id="aboutMe"
    ref="aboutMe"
    class="relative flex h-screen text-black bg-white font-jost"
  >
    <div
      ref="cleaner"
      class="absolute z-10 w-screen h-screen bg-blue-500"
    ></div>
    <h1 class="leading-none break-all transform -rotate-180 heading">
      {{ isContactForm ? 'Contact Me' : 'About Me' }}
    </h1>
    <article
      v-if="!isContactForm"
      class="flex flex-col justify-center my-16 font-mono"
    >
      <h2 class="text-5xl">Hi there</h2>
      <div class="mt-8 mr-32">
        <p>
          Hi, my name is Justine Kizhakkinedath. I’m a Computer Engineer from
          Pune, India.
        </p>
        <p>I do Web development and other kinds of stuff which interest me.</p>

        <p>I’m open to doing freelance work.</p>

        <p>Feel free to get LinkedIn</p>
      </div>
    </article>
    <contact-me v-else />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      isContactForm: false,
    }
  },
  mounted() {
    this.animate()
    this.animateContactForm()
  },
  methods: {
    animate() {
      const el = this.$refs.aboutMe as HTMLElement
      this.$gsap.registerPlugin(this.$ScrollTrigger)
      this.$gsap.to(el, {
        scrollTrigger: {
          trigger: el,
          scrub: true,
          start: 'top bottom',
          end: 'top top',
          snap: 1,
        },
      })
    },
    animateContactForm() {
      // const currentPage = this.$refs.aboutMe as HTMLElement
      const cleanerEl = this.$refs.cleaner as HTMLElement

      this.$gsap.registerPlugin(this.$ScrollTrigger)
      const tl = this.$gsap.timeline({
        scrollTrigger: {
          trigger: '#aboutMe',
          scrub: true,
          start: 'bottom bottom',
          end: 'bottom top',
          snap: 1,
          pin: true,
        },
      })
      tl.from(cleanerEl, {
        x: -window.innerWidth,
        ease: 'power2.out',
        onComplete: () => {
          this.isContactForm = true
        },
      })
      tl.to(cleanerEl, {
        x: window.innerWidth,
        ease: 'power2.out',
        onReverseComplete: () => {
          this.isContactForm = false
        },
      })
    },
  },
})
</script>

<style scoped>
p {
  @apply my-4;
  @apply text-xl;
}
</style>
