<template>
  <div class="relative overflow-x-hidden subpixel-antialiased">
    <div v-if="$device.isDesktop">
      <transition name="fade">
        <asset-loader
          v-if="false"
          class="fixed z-50 w-16 h-8 bg-rose-600 bottom-16 left-32"
        />
      </transition>
      <scroll-bar />
      <landing-section />
      <projects-section />
      <my-skills />
      <new-works />
      <my-approach />
      <about-me />
      <end-section />
    </div>
    <app-loader v-else />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data(): {
    ready: boolean[]
  } {
    return {
      ready: [],
    }
  },
  computed: {
    allReady(): boolean {
      if (this.ready.length === 0) {
        return false
      }
      for (const i of this.ready) {
        if (i === false) {
          return false
        }
      }
      return true
    },
  },
  mounted() {
    this.$nextTick(function () {
      this.checkAllVideos()
    })
  },
  beforeDestroy() {},
  methods: {
    checkAllVideos() {
      const mainVideo = document.querySelector('#bg-video') as HTMLVideoElement
      if (!mainVideo) {
        throw new Error('Error in asset loading')
      }
      const arrayOfVideos = [mainVideo]
      for (let index = 0; index < arrayOfVideos.length; index++) {
        const video = arrayOfVideos[index]
        video.onwaiting = () => {
          this.ready[index] = false
          this.ready = [...this.ready]
        }
        video.oncanplay = (event) => {
          const target = event.target as HTMLVideoElement
          const isLoading = target.networkState === target.NETWORK_LOADING
          this.ready[index] = !isLoading
          this.ready = [...this.ready]
        }
      }
    },
  },
})
</script>
