<template>
  <div
    class="flex flex-col items-center justify-center h-screen bg-trueGray-900"
  >
    <app-loader-logo ref="logo" class="w-full h-full animate-logo" />
    <div class="absolute w-2/3 text-center text-white font-jost bottom-16">
      Please use a desktop browser.
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  mounted() {
    this.animateColor()
  },
  methods: {
    animateColor() {
      // const strokeWidth = '16px'
      this.$gsap.fromTo(
        '.animate-logo',
        {
          // strokeWidth,
          // fill: 'none',
          color(index, _, targets) {
            return 'hsl(' + (index / targets.length) * 360 + ', 100%, 50%)'
          },
        },
        {
          // strokeWidth,
          // fill: 'none',
          color: 'hsl(+=360, +=0%, +=0%)',
          duration: 10,
          repeat: -1,
          ease: 'none',
        }
      )
    },
  },
})
</script>
