<template>
  <div class="relative flex items-center overflow-hidden section">
    <div class="w-2/5 ml-32">
      <h1 class="text-xl font-bold text-gray-600 uppercase font-jost">
        Approach
      </h1>
      <h2 class="my-8 text-8xl font-jost">How do I do it?</h2>
      <div class="mt-12 text-3xl font-cormorant">
        <p>
          Starting with a good understanding of everyone's needs to using
          creative ways to solve the technical challenges.
        </p>
        <p class="mt-6">
          Collaborating with different minds to solve each problems.
        </p>
      </div>
    </div>
    <div ref="scene" class="absolute top-0 w-screen h-screen -z-10">
      <img
        ref="optic-fiber"
        src="https://source.unsplash.com/FewHpO4VC9Y/380x680"
        alt="optic fiber"
        class="absolute object-cover w-1/5 shadow-md right-48 bottom-32 h-2/3 -z-10"
      />
      <img
        ref="bulb"
        src="https://source.unsplash.com/fIq0tET6llw/300x400"
        alt="bulb"
        class="absolute object-cover w-1/6 shadow-md right-1/4 top-24"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  mounted() {
    this.imageAnimation()
  },
  methods: {
    imageAnimation() {
      const scene = this.$refs.scene as HTMLElement
      const opticFiber = this.$refs['optic-fiber'] as HTMLElement
      const bulb = this.$refs.bulb as HTMLElement
      this.$gsap.registerPlugin(this.$ScrollTrigger)

      this.$gsap.from(opticFiber, {
        x: 450,
        scrollTrigger: {
          trigger: scene,
          start: 'top bottom',
          end: 'top top',
          scrub: true,
          snap: 1,
        },
      })

      this.$gsap.from(bulb, {
        x: 1000,
        scrollTrigger: {
          trigger: scene,
          start: 'top bottom',
          end: 'top top',
          scrub: true,
          snap: 1,
        },
      })

      // this.$gsap.to(opticFiber, {
      //   y: -300,
      //   scrollTrigger: {
      //     trigger: scene,
      //     start: 'bottom bottom',
      //     end: 'bottom top',
      //     scrub: true,
      //   },
      // })

      // this.$gsap.to(pcb, {
      //   y: -200,
      //   scrollTrigger: {
      //     trigger: scene,
      //     start: 'bottom bottom',
      //     end: 'bottom top',
      //     scrub: true,
      //   },
      // })
    },
  },
})
</script>
