.mw-720 {
    max-width: 720px;
}

.mw-1280 {
    max-width: 1280px;
}

.w-1280 {
    width: 1280px;
}

.mw-640 {
    max-width: 640px;
}

.w-640 {
    width: 640px;
}

.w-200 {
    width: 200px
}

.w-220 {
    width: 220px
}

.right-12 {
    right: 48px;
}

.bottom-16 {
    bottom: 64px;
}

.bottom-28 {
    bottom: 112px;
}

.bottom-4 {
    bottom: 1rem;
}
.w-160 {
    width: 40rem;
}

.w-512 {
    width: 512px;
}

.w-60 {
    width: 15rem;
}

.bottom-28 {
    bottom: 7rem;
}

.mb-28 {
    margin-bottom: 7rem;
}

.height-remaining {
		height: calc(100vh - 49px);
}

.border-t-b-600 {
    @apply .border-t .border-b .border-gray-600;

}

@variants hover {
    .shadow-main {
        box-shadow: 0 0 4pt 0pt var(--main-color);
    }
}
