@responsive {
    .w-1280 {
        width: 1280px;
    }

    .w-640 {
        width: 640px;
    }

    .w-512 {
        width: 512px;
    }
}

@variants hover, focus {
    .shadow-main {
        box-shadow: 0 0 5pt 2pt var(--main-color);
    }
}

.mw-640 {
    max-width: 640px;
}

.mw-720 {
    max-width: 720px;
}

.mw-1280 {
    max-width: 1280px;
}

.right-12 {
    right: 48px;
}

.bottom-16 {
    bottom: 64px;
}

.bottom-28 {
    bottom: 112px;
}

.bottom-4 {
    bottom: 1rem;
}

.bottom-28 {
    bottom: 7rem;
}

.mb-28 {
    margin-bottom: 7rem;
}

.height-remaining {
		height: calc(100vh - 49px);
}

.border-t-b-600 {
    @apply .border-t .border-b .border-gray-600;
}

/* * { */
/*     outline: 1px solid red; */
/* } */
