<template>
  <div class="flex items-center w-full mr-32">
    <form
      action="https://kwes.io/api/foreign/forms/4VDCLEyoh7ceilsMlHl6"
      method="POST"
      class="flex flex-col w-full max-w-4xl kwes-form"
      no-reload
    >
      <label :class="labelStyle" for="name">Name </label>
      <input
        id="name"
        :class="inputStyling"
        type="text"
        name="name"
        placeholder="John Doe"
        required
      />
      <label :class="labelStyle" for="email">Email </label>
      <input
        id="email"
        :class="inputStyling"
        type="email"
        name="email"
        placeholder="john@doe.com"
        required
      />
      <label :class="labelStyle" for="message">Message </label>
      <textarea
        id="message"
        :class="inputStyling"
        type="text"
        name="message"
        placeholder="Hi there"
        required
      />
      <button class="py-4 mt-16 text-white bg-blue-700" type="submit">
        Send
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import kwesforms from 'kwesforms'

export default Vue.extend({
  data() {
    return {
      labelStyle: 'mt-4 mb-2 text-gray-500 flex items-center',
    }
  },
  computed: {
    inputStyling(): object {
      const isTextOrTextarea = true
      const mainStyles =
        'text-black border border-gray-400 focus-border-white  dark:bg-gray-300 focus:ring focus:ring-black rounded-none focus:ring-offset-2 font-jost placeholder-gray-300'
      const additionalStyles = 'w-full mb-4'
      const combinedStyles = `${mainStyles} ${additionalStyles}`
      return {
        [combinedStyles]: true,
        'px-4 py-2 dark:focus:ring-gray-300 dark:border-gray-300 dark:focus:border-gray-300 dark:focus:ring-offset-gray-300': isTextOrTextarea,
      }
    },
  },
  mounted() {
    kwesforms.init()
  },
})
</script>

<style scoped>
.focus-border-white {
  @apply focus:border-white !important;
}
</style>
